.custom-main {
    min-height: 60vh;
}

.beach-background {
    background-image: url('images/surfer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    min-height: 40vh;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.bg-dark-gray {
    background-color: #525455;
}

footer {
    font-size: 10px;
    color: lightslategray;
    margin-left: 20px;
}